body {
  display: flex;
  flex-direction: column;
}

.carousel {
  color: black;
  background-color: green;
}
.carousel img {
  width: 300px;
  height: 300px;

  border-radius: 50%;
}

.footerr {
  background-color: rgba(0, 128, 0, 0.459);
  width: auto;
}

#Card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#formid {
  display: flex;
  justify-content: center;
  background-color: rgb(28, 180, 28);
  margin: 10px 0px 10px 0px;
}
