@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Inclusive Sans";
  src: url("./assets/fonts/Inclusive_Sans/InclusiveSans-Regular.ttf");
}

@font-face {
  font-family: "Inclusive Italic";
  src: url("./assets/fonts/Inclusive_Sans/InclusiveSans-Italic.ttf");
}

@font-face {
  font-family: "Toonyline";
  src: url("./assets/fonts/toony_line/ToonyLine_PERSONAL_USE_ONLY.otf");
}

@font-face {
  font-family: "Letterlan";
  src: url("./assets/fonts/letterland/Letterland.otf");
}

@font-face {
  font-family: "Josefin sans";
  src: url("./assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "Josefin medium";
  src: url("./assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf");
}

@font-face {
  font-family: "Ragara";
  src: url("./assets/fonts/ragara/Ragara.otf");
}

@-webkit-keyframes color-change-3x {
  0% {
    background: #19dcea;
  }
  50% {
    background: #b22cff;
  }
  100% {
    background: #ea2222;
  }
}

@keyframes color-change-3x {
  0% {
    background: #19dcea;
  }
  50% {
    background: #b22cff;
  }
  100% {
    background: #ea2222;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

body {
  justify-content: center;
  align-items: center;

  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.carousel {
  border-radius: 10px;
  width: auto;
  height: auto;
  height: 500px;
  display: flex;

  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(135deg, #ff0000 25%, transparent 25%),
    linear-gradient(225deg, #ff0000 25%, transparent 25%),
    linear-gradient(45deg, #ff0000 25%, transparent 25%),
    linear-gradient(315deg, #ff0000 25%, #ffffff 25%);
  background-position: 40px 0, 40px 0, 0 0, 0 0;
  background-size: 40px 40px;
  background-repeat: repeat;
}

.carousel img {
  width: 1350px;
  height: 500px;
  border-radius: 10px;
}

.carousel h1 {
  color: rgb(0, 0, 0);
  font-family: "Josefin medium";
  text-shadow: 2px 3px rgb(27, 27, 255);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  letter-spacing: 4px;
  background-color: rgba(245, 245, 220, 0.3);
  border-radius: 10px;
  font-size: 3rem;
}

.carousel p {
  font-family: "Josefin sans";
  font-size: x-large;
  font-weight: 200;
  background-color: rgba(245, 245, 220, 0.3);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px rgb(238, 255, 0);
  display: flex;
}

#footerid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(125, 255, 0);
  background: radial-gradient(circle, rgba(125, 255, 0, 1) 0%, #94bbe9 100%);
  text-shadow: 1px 1px rgb(255, 0, 242);
}

#gridspan1 {
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerp {
  font-size: small;
}

.gridspan2 {
  grid-column: 2;
  display: flex;
  justify-content: flex-center;
  flex-direction: column;
  align-items: center;
}

.gridspan3 {
  grid-column: 3;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.gridspan4 {
  grid-column: 4;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.facebookgrid svg {
  width: 50px;
  height: 50px;
}
.instagramgrid {
  width: 50px;
  height: 50px;
}
.twittergrid {
  width: 50px;
  height: 50px;
}

#gridfooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: "josefin sans";
  font-size: 20px;
}

#gridfooter ul {
  list-style: none;
  font-family: "josefin sans";
  font-size: 20px;
}
#Card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgb(206, 255, 0);
  background: linear-gradient(
    76deg,
    rgba(206, 255, 0, 1) 0%,
    rgba(100, 65, 100, 1) 37%,
    rgba(0, 5, 255, 1) 100%
  );
  font-family: "Josefin medium";
  border-radius: 10px;
}

#generalform {
  display: flex;
  justify-content: center;

  -webkit-animation: color-change-3x 4s linear infinite alternate both;
  animation: color-change-3x 4s linear infinite alternate both;
}

#formid {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(206, 255, 0);
  background: linear-gradient(
    76deg,
    rgba(206, 255, 0, 1) 8%,
    rgba(100, 65, 100, 1) 37%,
    rgba(0, 5, 255, 1) 100%
  );
  font-family: "Josefin sans";
  text-shadow: 1px 2px rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  width: 30rem;
  height: 10rem;
  margin: 10px 0px 10px;
}

#formid h1 {
  font-size: 2rem;
}

#formid Button {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
  background-color: rgba(0, 128, 0, 0.753);
}

#formid Button:hover {
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
  background-color: orange;
  color: black;
}

#loadermexico {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 80px;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  #logoName {
    font-family: "Toonyline";
    font-size: 3rem;
    color: rgb(0, 3, 160);
    text-shadow: 1px 30px rgb(255, 2, 2);
    animation: logo-spin infinite 40s linear;
    transition: font-weight 750ms, font-size 750ms;
  }
}

#logoName:hover {
  transition-duration: 750ms;
  font-weight: 500;
  font-size: 4rem;
  text-shadow: 1px 5px rgb(255, 2, 2);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

#slogan {
  font-family: "Letterlan";
  font-size: 2rem;
}

.logocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bg-body-tertiary {
  background-color: #c6fff9;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #c6fff9 40px
    ),
    repeating-linear-gradient(#ffffff55, #ffffff);

  height: 117px;
}

#headercontainer {
  position: sticky;
  z-index: 100;
  top: 0;
  height: auto;
}

.card-body {
  background-color: #c6fff9;
  opacity: 1;
  background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%),
    linear-gradient(225deg, #ffffff 25%, transparent 25%),
    linear-gradient(45deg, #ffffff 25%, transparent 25%),
    linear-gradient(315deg, #ffffff 25%, #c6fff9 25%);
  background-position: 40px 0, 40px 0, 0 0, 0 0;
  background-size: 40px 40px;
  background-repeat: repeat;
}

#cardsbuttons {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

#cardsbuttons:hover {
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
  background-color: orange;
  color: black;
}

.desayunoclass2 {
  display: flex;
}

.desayunoclass img {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 1px rgb(131, 58, 180);
  border: 1px solid black;
}
.desayunoparrafo {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  font-family: "Ragara";
  font-size: x-large;
  text-shadow: 1px 1px rgb(0, 0, 0);
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  margin-bottom: 0px;
  border-radius: 10px;
  box-shadow: 5px 1px rgb(131, 58, 180);
  border: 1px solid black;
}

.desayunoparrafo2 {
  border: 1px solid black;
  width: 500px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  font-family: "Ragara";
  font-size: x-large;
  text-shadow: 1px 1px rgb(0, 0, 0);
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  margin-bottom: 0px;
  border-radius: 10px;
  box-shadow: 5px 1px rgb(131, 58, 180);
}

.desayunobutton Button {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.desayunobutton Button:hover {
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
  background-color: rgb(75, 75, 75);
  color: #5eff00;
}

.desayunobutton2 Button {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.desayunobutton2 Button:hover {
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
  background-color: rgb(75, 75, 75);
  color: #5eff00;
}

.desayunoclass {
  background-color: #fdbb2d;
  opacity: 1;
  background-image: linear-gradient(
      30deg,
      #45ebf7 12%,
      transparent 12.5%,
      transparent 87%,
      #45ebf7 87.5%,
      #45ebf7
    ),
    linear-gradient(
      150deg,
      #45ebf7 12%,
      transparent 12.5%,
      transparent 87%,
      #45ebf7 87.5%,
      #45ebf7
    ),
    linear-gradient(
      30deg,
      #45ebf7 12%,
      transparent 12.5%,
      transparent 87%,
      #45ebf7 87.5%,
      #45ebf7
    ),
    linear-gradient(
      150deg,
      #45ebf7 12%,
      transparent 12.5%,
      transparent 87%,
      #45ebf7 87.5%,
      #45ebf7
    ),
    linear-gradient(
      60deg,
      #45ebf777 25%,
      transparent 25.5%,
      transparent 75%,
      #45ebf777 75%,
      #45ebf777
    ),
    linear-gradient(
      60deg,
      #45ebf777 25%,
      transparent 25.5%,
      transparent 75%,
      #45ebf777 75%,
      #45ebf777
    );
  background-size: 40px 70px;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.almuerzoclass {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/geopattern.jpeg");
}
.almuerzoclass img {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 1px rgb(131, 58, 180);
  border: 1px solid black;
}

.accordion-button {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.desayunoclass3 {
  background-image: url("./assets/geopattern2.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.desayunoclass3 p {
  height: auto;
}

.desayunoclass3 img {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 1px rgb(131, 58, 180);
  border: 1px solid black;
}

.me-auto {
  font-family: "Josefin medium";
  font-size: 20px;
}

.me-auto a:hover {
  color: orange;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fdbb2d;
}

#table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans";
  font-size: 3rem;
}
#table th {
  border-radius: 10px;
  background-color: #d9ff00;
}

#table td {
  background-color: #51ff00be;

  border-radius: 5px;
}

#table p {
  font-family: "Josefin Sans";
  font-size: large;
  font-style: italic;
}

#table Button {
  background: rgb(0, 99, 255);
  background: radial-gradient(
    circle,
    rgba(0, 99, 255, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  font-size: x-large;
  color: #c6fff9;
}

#table Button:hover {
  background: rgb(0, 99, 255);
  background: radial-gradient(
    circle,
    rgba(0, 99, 255, 1) 53%,
    rgba(255, 0, 0, 1) 100%
  );

  animation-name: shake;
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}

.tablecontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdbb2d;
  opacity: 1;
  background-image: linear-gradient(
      30deg,
      #45ebf7 12%,
      transparent 12.5%,
      transparent 87%,
      #45ebf7 87.5%,
      #45ebf7
    ),
    linear-gradient(
      150deg,
      #45ebf7 12%,
      transparent 12.5%,
      transparent 87%,
      #45ebf7 87.5%,
      #45ebf7
    ),
    linear-gradient(
      30deg,
      #45ebf7 12%,
      transparent 12.5%,
      transparent 87%,
      #45ebf7 87.5%,
      #45ebf7
    ),
    linear-gradient(
      150deg,
      #45ebf7 12%,
      transparent 12.5%,
      transparent 87%,
      #45ebf7 87.5%,
      #45ebf7
    ),
    linear-gradient(
      60deg,
      #45ebf777 25%,
      transparent 25.5%,
      transparent 75%,
      #45ebf777 75%,
      #45ebf777
    ),
    linear-gradient(
      60deg,
      #45ebf777 25%,
      transparent 25.5%,
      transparent 75%,
      #45ebf777 75%,
      #45ebf777
    );
  background-size: 40px 70px;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

.tablecontent img {
  width: 300px;
  height: 200px;
}

#registratecontain {
  display: inline-table;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Josefin Sans";
  font-size: x-large;
}

#registratecontain Button {
  background-color: #ea2222;
  border: transparent;
}

#contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 34%,
    rgba(253, 187, 45, 1) 100%
  );
}

@media screen and (max-width: 550px) {
  #footerid {
    display: flex;
    flex-direction: column;
  }

  #gridspan1 {
    display: flex;
    flex-direction: column;
  }

  #carouselcontainer p {
    display: none;
  }

  #card3 {
    display: none;
  }

  .desayunoparrafo {
    display: none;
  }
  .desayunoparrafo2 {
    display: none;
  }

  .desayunobutton {
    display: none;
  }

  .desayunobutton {
    display: none;
  }

  .desayunoclass img {
    width: 300px;
    height: 300px;
  }

  .desayunoclass3 img {
    width: 300px;
    height: 300px;
  }

  .almuerzoclass img {
    width: 300px;
    height: 300px;
  }
  .almuerzoclass {
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    color: white;
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow: 5px 1px rgb(131, 58, 180);
    border: 1px solid black;
  }
  .desayunoclass3 {
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    color: white;
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow: 5px 1px rgb(131, 58, 180);
    border: 1px solid black;
  }
  .carousel h1 {
    font-size: large;
    display: flex;
    flex-direction: column;
  }
  #generalform {
    height: 200px;
  }
  #table {
    font-size: small;
  }
  #table Button {
    font-size: small;
  }
  .tablecontent img {
    width: 200px;
    height: 100px;
  }
}
